.display{
    grid-column: span 4;
    background-color: rgb(20, 20, 20);
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    overflow: hidden;
}